/* About Section */
#about {
  padding-top: 120px;
  
}

.profile-img-container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profile-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 30px rgba(217, 131, 36, 0.4);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}

.profile-img:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 0 40px rgba(217, 131, 36, 0.6);
}

.about-content {
  padding: 20px;
}

.about-text {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.custom-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: 500;
  transition: var(--transition);
  display: inline-block;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #c07420;
  color: var(--text-color);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

  /* Social Icons */
  .social-icons1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  
  .icon {
    font-size: 2rem;
    color: #D5CEA3;
    transition: transform 0.3s ease-in-out, color 0.3s;
    padding-top: 2px;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: #E5E5CB;
  }
  