@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #443627;
}

::-webkit-scrollbar-thumb {
  background: #d98324;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c07420;
}
